/* Tokyo Night theme for waybar */

* {
    font-family: "CaskaydiaMono Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    /* background: rgba(26, 27, 38, 1.0); */
    background: rgba(30, 33, 48, 0.8);
    border: 0;
    color: #c0caf5;
}

#custom-ws1,
#custom-ws2,
#custom-ws3,
#custom-ws4,
#custom-ws5,
#custom-ws6,
#custom-ws7,
#custom-ws8,
#custom-ws9,
#custom-ws10 {
    padding: 0 8px;
    color: #565f89;
    background: transparent;
    border: none;
    border-radius: 4px;
    margin: 2px 0;
    margin-right: 4px;
}

#custom-ws1:first-child {
    margin-left: 8px;
}

#custom-ws1:hover,
#custom-ws2:hover,
#custom-ws3:hover,
#custom-ws4:hover,
#custom-ws5:hover,
#custom-ws6:hover,
#custom-ws7:hover,
#custom-ws8:hover,
#custom-ws9:hover,
#custom-ws10:hover {
    background: #24283b;
    color: #c0caf5;
}

#custom-ws1.occupied,
#custom-ws2.occupied,
#custom-ws3.occupied,
#custom-ws4.occupied,
#custom-ws5.occupied,
#custom-ws6.occupied,
#custom-ws7.occupied,
#custom-ws8.occupied,
#custom-ws9.occupied,
#custom-ws10.occupied {
    color: #c0caf5;
}

#custom-ws1.active,
#custom-ws2.active,
#custom-ws3.active,
#custom-ws4.active,
#custom-ws5.active,
#custom-ws6.active,
#custom-ws7.active,
#custom-ws8.active,
#custom-ws9.active,
#custom-ws10.active {
    background: #7aa2f7;
    color: #1a1b26;
}

#clock,
#cpu,
#memory,
#custom-battery,
#pulseaudio,
#custom-weather,
#tray {
    padding: 0 10px;
    margin-left: 2px;
}

#custom-tray-tag {
    padding: 0 5px;
    color: #7aa2f7;
}

#clock {
    color: #a9b1d6;
}

#cpu {
    color: #7dcfff;
}

#memory {
    color: #bb9af7;
}

#custom-weather {
    color: #c0caf5;
}

#custom-battery {
    color: #e0af68;
}

#custom-battery.charging {
    color: #9ece6a;
}

#custom-battery.warning:not(.charging) {
    color: #ff9e64;
}

#custom-battery.critical:not(.charging) {
    color: #f7768e;
}

#pulseaudio {
    color: #fffcb0;
}

#pulseaudio.muted {
    color: #565f89;
}

#tray {
    margin-right: 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
